$ACCENT_BACKGROUND: #cd977a;
$ACCENT_ALT: #bda48c;
$ACCENT_TEXT: #3b3734;
$PAGE_BACKGROUND: #ece9e3;
$PAGE_TEXT: #2c2c26;
$PAGE_ALT: #d4d4d2;

$BOX_SHADOW: 0 0 3px 5px $ACCENT_TEXT;

$BORDER_RADIUS: 4px;
$ARTICLE_BASE_WIDTH: 42rem;
$ARTICLE_WIDTH: min($ARTICLE_BASE_WIDTH, 100vw - 1rem);

$MONOSPACE_FONT: "Courier Prime", Courier, monospace;
$REGULAR_FONT: "Bitter", serif;

// Note: this is also set in reset.scss, so be aware if you change it here!
$BASE_FONT_SIZE: 18px;
