$ACCENT_BACKGROUND: #cd977a;
$ACCENT_ALT: #bda48c;
$ACCENT_TEXT: #3b3734;
$PAGE_BACKGROUND: #ece9e3;
$PAGE_TEXT: #2c2c26;
$PAGE_ALT: #d4d4d2;

$BOX_SHADOW: 0 0 3px 5px $ACCENT_TEXT;

$BORDER_RADIUS: 4px;
$ARTICLE_WIDTH: min(32rem, 100vw - 2rem);

$MONOSPACE_FONT: "Courier Prime", Courier, monospace;
$REGULAR_FONT: "Bitter", serif;
