@import "../utils/reset.scss";
@import "./fonts/fonts.scss";

$ACCENT_BACKGROUND: #cd977a;
$ACCENT_ALT: #bda48c;
$ACCENT_TEXT: #3b3734;
$PAGE_BACKGROUND: #ece9e3;
$PAGE_TEXT: #2c2c26;
$PAGE_ALT: #d4d4d2;

header {
  width: calc(100vw - 4rem);
  margin: 2rem auto;
  font-family: "Courier Prime", Courier, monospace;
  color: $ACCENT_TEXT;
  padding: 2rem;
  background-color: $ACCENT_BACKGROUND;
  text-align: center;

  box-shadow: 0 0 3px 5px;
  border-radius: 4px;
}

body {
  display: flex;
  flex-direction: column;

  font-family: "Bitter", serif;
  background-color: $PAGE_ALT;
  color: $PAGE_TEXT;
}

article {
  width: 32rem;
  margin: 2rem auto 0;
  padding: 2rem;
  background-color: $PAGE_BACKGROUND;
  box-shadow: 0 0 3px 5px $ACCENT_TEXT;
  border-radius: 4px;

  .encoded {
    font-family: "Courier Prime", Courier, monospace;
  }

  p:not(:first-child) {
    margin-top: 2rem;
  }
}
