extends ../partials/base.pug

append variables
    - pageName = "Building Enigma";
    - stylesheets.push("./enigma.scss");

block header
    h1
        .title Unbreakable Cyphers - How To Build An Enigma Machine

block contents
    p Encryption is easy.
    p
        | Take a message, and mix it with a large amount of random data.  The random data will be your key,
        | and the mix you get out is the encrypted message.
    p
        | All you need to do now is make sure the other person has the same key as you — _that's_ where things start getting hard.