@use "sass:math";

@import "../utils/reset.scss";
@import "./fonts/fonts.scss";
@import "./colors.scss";

header {
  width: min($ARTICLE_WIDTH, 100vw - 2rem);
  margin: 2rem auto;
  font-family: $MONOSPACE_FONT;
  color: $ACCENT_TEXT;
  padding: 2rem;
  background-color: $ACCENT_BACKGROUND;
  text-align: center;

  box-shadow: $BOX_SHADOW;
  border-radius: $BORDER_RADIUS;
}

body {
  display: flex;
  flex-direction: column;

  font-family: $REGULAR_FONT;
  background-color: $PAGE_ALT;
  color: $PAGE_TEXT;
}

article {
  width: $ARTICLE_WIDTH;
  margin: 2rem auto;

  .section {
    padding: 2rem;
    background-color: $PAGE_BACKGROUND;
    box-shadow: $BOX_SHADOW;

    p:not(:first-child) {
      margin-top: 2rem;
    }

    code {
      font-family: $MONOSPACE_FONT;
    }

    &:first-child {
      border-top-left-radius: $BORDER_RADIUS;
      border-top-right-radius: $BORDER_RADIUS;
    }

    &:last-child {
      border-bottom-left-radius: $BORDER_RADIUS;
      border-bottom-right-radius: $BORDER_RADIUS;
    }
  }

  .demo {
    margin: 4rem calc(-0.5 * (100vw - $ARTICLE_WIDTH));
  }

  @media screen and (max-width: (math.div($ARTICLE_BASE_WIDTH , 1rem) * $BASE_FONT_SIZE)) {
    .section {
      padding: 1rem;
    }
  }
}
