block variables
    - let pageName = "";
    - let scripts = [];
    - let stylesheets = [];

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title
            =pageName ? `${pageName} — ` : ''
            | Old Machines
        - for (const script of scripts)
            script(src=script, defer, type="module")
        - for (const stylesheet of stylesheets)
            link(rel="stylesheet", href=stylesheet)
        
    body
        header
            block header
                h1
                    =pageName

        article
            block contents
